.padify
  padding-top: ms(4)
  padding-bottom: ms(4)

.bg-navy
  background: $navy
.bg-lightblue
  background: $lightblue
.bg-aqua
  background: $aqua
.bg-white
  background: $white
.bg-lightgray
  background: $lightgray
.bg-darkgray
  background: $darkgray
.bg-urple
  background: $urple
.bg-darkurple
  background: $darkurple
.bg-lightmagenta
  background: $lightmagenta
.bg-magenta
  background: $magenta
.bg-darkmagenta
  background: $darkmagenta

.btn-default,
input[type=button],
input[type=submit]
  &.btn-lightmagenta
    background: $lightmagenta
    border-color: $lightmagenta
    color: $darkmagenta
    &:hover
      background: darken($lightmagenta, 10%)
      border-color: darken($lightmagenta, 10%)
  &.btn-magenta
    background: $magenta
    border-color: $magenta
    &:hover
      background: darken($magenta, 10%)
      border-color: darken($magenta, 10%)
  &.btn-darkmagenta
    background: $darkmagenta
    border-color: $darkmagenta
    &:hover
      background: darken($darkmagenta, 10%)
      border-color: darken($darkmagenta, 10%)

.type-navy
  color: $navy
.type-lightblue
  color: $lightblue
.type-aqua
  color: $aqua
.type-white
  color: $white
.type-lightgray
  color: $lightgray
.type-darkgray
  color: $darkgray
.type-black
  color: $black
.type-urple
  color: $urple
.type-darkurple
  color: $darkurple
.type-magenta
  color: $magenta
.type-darkmagenta
  color: $darkmagenta

.divider
  display: block
  width: 100%
  height: ms(-6)
  background: $lightblue

.form-item
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=search],
  input[type=url],
  input[type=tel],
  input[type=number],
  textarea,
  select,
    color: $darkmagenta
