.home
  .home-body
    // margin-top: - ms(9)
    // // height: 100vh
    // background-size: 100% auto
    // height: ms(16)
    // +target(md)
    //   margin-top: - ms(7)
    padding: 0
    position: relative
    height: 95vh
    max-height: ms(18)
    min-height: ms(16)
    overflow: hidden
    background: url('/public/images/paul-bg.png') no-repeat 50% 50%
    background-size: 100% auto
    .home-container
      // background: url('/public/images/typo.png') repeat
      // height: 100%
    .hero
      margin-top: ms(7)
