extends layout

block settings
  - var page = 'Home'
  - var classes = ['home', 'light']

block content
  .home-body
    .container
      .p-t-xs-6
        .row
          .col-xs-12
            h2.type-geb Making the web beautiful.
            h3.uppercase.type-darkmagenta all day. every day.
