extends layout

block settings
  - var page = 'Home'
  - var classes = ['home', 'light']

block content
  .bg-navy.home-body
    .home-container
      .container
        .row
          .col-xs-12
            .p-t-xs-8.hero
              h2.type-geb Making the web beautiful.
              h3.uppercase all day. every day.
