extends layout

block settings
  - var slug = "home"
  - var page = "Home"

block content
  .bg-purple
    .container
      .row
        .col-md-6.col-xs-12
          h2 Creating beautiful, usable and simple experiences.
          h5 All day. Err day.
