include mixins.pug

block settings
  - var page = 'Hello'
  - var classes = ['layout', 'light']

doctype html
html(lang='en' class= classes data-page= page )
  head
    meta(charset='UTF-8')
    meta( content="width=device-width, user-scalable=no", name="viewport" )
    meta( name="description", content="Paul Ballas")
      
    meta(name="robots" content="noindex")
    meta(name="googlebot" content="noindex")      

    meta( property="og:title", content="Paul Ballas" )
    meta( property="og:type", content="website" )
    meta( property="og:url", content="https://www.ballas.io" )
    meta( property="og:description", content="Designer + Cycler" )
    meta( property="og:image", content="https://wwww.ballas.io/images/PB.svg" )
    meta( property="og:image:width", content="120" )
    meta( property="og:image:height", content="120" )

    meta( property="twitter:card", content="summary_large_image" )
    meta( property="twitter:url", content="https://www.ballas.io" )
    meta( property="twitter:title", content="Designer + Cycler" )
    meta( property="twitter:description", content="" )
    meta( property="twitter:image", content="https://wwww.ballas.io/images/PB.svg" )
    title= title

    link(rel='apple-touch-icon', sizes='180x180' href='/apple-touch-icon.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#414b8b')
    meta(name='theme-color', content='#ffffff')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-59773983-1', 'auto');
      ga('send', 'pageview');

    block css
      link(rel='stylesheet' href='/css/app.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    block hero
      .header
        .container            
          .row.middle-xs
            .col-md-4.col-xs-12.left-text-md.center-text-xs.m-b-xs-1.m-b-md-0
              a(href='/')
                +logo
            .col-md-8.col-xs-12
              ul
                li
                  a.type-gm(href="/" class=(slug === 'home' ? 'active' : '')) Home
                li
                  a.type-gm(href="/about" class=(slug === 'about' ? 'active' : '')) About
                li
                  a.type-gm(href='/portfolio' class=(slug === 'portfolio' ? 'active' : '')) Portfolio
                li
                  a.type-gm(href='/design-process' class=(slug === 'process' ? 'active' : '')) Design Process
                li
                  a.type-gm(href='/illustrations' class=(slug === 'illustrations' ? 'active' : '')) Illustrations
                li
                  a.type-gm(href='/contact' class=(slug === 'egencia' ? 'contact' : '')) Contact

    block content
    block footer
      .footer.bg-darkurple
        .p-t-xs-1.p-b-xs-1
          .container
            .row.center-xs
              p.small.type-gm.m-b-xs-0
                | Personal website of 
                b Paul Ballas      
            .row.center-xs
              .col-xs-12
                ul
                  li.small
                    a.type-gm(href='https://twitter.com/paulballas') Twitter
                  li.small
                    a.type-gm(href='https://github.com/paulballas' target='_blank') GitHub
                  li.small
                    a.type-gm(href='https://www.linkedin.com/in/paulballas/' target='_blank') LinkedIn
                  li.small
                    a.type-gm(href='https://dribbble.com/paulballas' target='_blank') Dribbble

    block scripts
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/zooming/1.1.2/zooming.min.js')
      script(src='/js/app.js')
