extends layout

block settings
  - var page = 'Personas'
  - var classes = ['portfolio', 'dark']

block content
  .project
    .bg-darkmagenta
      .container.hero.pana-hero
        .padify
          .row
            .col-xs-12
              a(href='/portfolio' class='btn-default btn-lightmagenta m-b-xs-0') Back to portfolio
          .row.middle-xs
            .col-md-5.col-xs-12
              h2.type-geb #{title}
              p One of my favorite parts of UX design is interviewing and discovering a new customer base. What types of people are they? What are their existing behaviors? Likes and dislikes?
              
              p After researching and interview, I typically create personas to provide the entire team an understanding of who we're building for. These help shape conversations and provide product direction.
            .col-md-7
              .proj-deets
                img.p-l-md-2.p-l-xs-0(src='/public/images/portfolio/personas_emma.png' alt='Persona')
    //- agent
    .bg-lightmagenta
      .container.flicker
        .padify
          .row.middle-xs
            .col-md-8.col-md-offset-2.col-xs-12      
              img(src='/public/images/portfolio/personas_james.png' data-action='zoom' data-original='/public/images/portfolio/personas_james.png' alt='Persona')
            .col-md-8.col-md-offset-2.col-xs-12
              img(src='/public/images/portfolio/personas_mark.png' data-action='zoom' data-original='/public/images/portfolio/personas_mark.png' alt='Persona')
            .col-md-8.col-md-offset-2.col-xs-12
              img(src='/public/images/portfolio/personas_emma.png' data-action='zoom' data-original='/public/images/portfolio/personas_emma.png' alt='Persona')
