extends layout

block settings
  - var page = 'Portfolio'
  - var classes = ['portfolio', 'dark']

block content
  - var projects = [{url:'pana',name:'Pana'},{url:'class',name:'ClassScout'}, {url:'ytb',name:'Your Texas Benefits'},{url:'hw',name:'HelloWallet'},{url:'abe',name:'ABE Mobile'},{url:'marigold',name:'Marigold'}, {url:'personas',name:'Personas'}]
  .bg-darkurple
    .container
      .p-t-xs-4.p-t-xs-4
      .row
        .col-xs-12
          h3 Portfolio
          p I have had the privilege of working on many amazing projects, with amazing teams. I love what I do. Giving back to the design and tech community is important. Whether it's helping companies at 1776 or tutoring students at General Assembly.
            br
            br
            | My work history includes web, mobile and responsive projects. The full range my of projects is not included below. This provides a small insight into my work. I would love to have a conversation about the full range of my portfolio.
  .bg-darkmagenta
    .container
      .p-t-xs-4.p-t-xs-4
        .row
          each project in projects
            - var url = project.url
            .col-md-6.col-xs-12
              a(href='/portfolio/' + url class='port-body')
                p.m-b-xs-0 #{project.name}
                img(src='/public/images/portfolio/bg-' + url +'.png')
